.calculator {
    margin: 150px;
    color: white;
}

.buttonWrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(50px, auto);
}

.mode {
    background-color: #f198b3;
    border-radius: 5px;
    padding: 5px;
}

.operand {
    background-color: #f3aac0;
    border-radius: 5px;
    padding: 5px;
}

.value {
    background-color: #f8ccd9;
    border-radius: 5px;
    padding: 5px;
}

.number {
    background-color: #f5bbcc;
    border-radius: 5px;
    padding: 5px;
}

.evaluator {
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px
}

input {
    grid-column: 1 / 8;
    grid-row: 1;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid white;
    color: pink;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
}

input:focus {
    outline: none;
}